.project {
	text-align: center;
	color: black;
	border-bottom: dotted 2px var(--secondary-color);
	margin-bottom: 16px;
	padding: 5px 0px 10px;
	border-bottom-right-radius: 15px;
	border-top: dotted 2px var(--secondary-color);
	border-top-left-radius: 15px;
}

.project .nav-link {
	color: black;
	transition: 0.3s ease-in-out;
	text-align: center;
	font-weight: 400;
	padding: 0 16px;
	font-size: 28px;
	opacity: 0.75;
}

.project .nav-link.active {
	background: fuchsia;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.project .nav-link:hover {
	font-size: 36px;
	opacity: 1;
}

.project-img-box {
	position: relative;
	border-radius: 30px;
	overflow: hidden;
	height: 300px;
}
.project-img-box::before {
	content: "";
	background: linear-gradient(90.21deg, Fuchsia -5.91%, white 111.58%);
	opacity: 0.85;
	position: absolute;
	width: 100%;
	height: 0;
	transition: 0.4s ease-in-out;
}
.project-img-box:hover::before {
	height: 100%;
}
.project-info {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
	color: black;
}
.project-img-box:hover .project-info {
	top: 50%;
	opacity: 1;
}
.project-info h4 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1em;
}
.project-info span {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
}

.project-links {
	display: inline-block;
	margin: 14px;
}
